<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Zilas.id</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-50">
    <div class="p-3 text-center">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-bold text-5xl">Site Partner</span> YAMI
    </div>
    <div class="bg-white shadow hover:shadow-md transition-hover duration-300 ease-in-out rounded-lg p-4 mx-3">
        Kami Memberikan solusi bagi anda untuk menjadi partner kami, siap membantu anda dari masalah aplikasi. email kami m.a.naim2112@gmail.com segera jika butuh bantuan
    </div>
</body>
</html>